{% load static %}
<header>
    <div class="header-logo">
        <a href="/"><img src="{% static 'img/logo.png' %}" alt="logo" height="60" width="60"></a>
    </div>
    <menu class="header-nav">
        <a class="nav-link" id="index_page" href="/">Главная</a>
        <a class="nav-link" id="rules_page" href="/rules/">Правила</a>
        <a class="nav-link" id="contact_page" href="/contacts/">Контакты</a>
    </menu>
    <div class="header-nav-toggle">
            <span class="toggle-item">
            </span>
    </div>
</header>