
<form action="">
    <input type="radio" name="settings" value="info">Получить архив с беста<br>
    <input type="radio" name="settings" value="exchange">Получить обменники с беста<br>
    <input type="radio" name="settings" value="rates">Получить курсы валют с беста<br>
    <input type="radio" name="settings" value="change">Добавить рандомные направления обмена<br>
    <input type="radio" name="settings" value="all">Расчитать все курсы<br>
    <br><br><input type="submit" value="send">
</form>

<br>