{% extends 'base.html' %}
{% load static %}

{% block description_for_page %}
    'Описание для страницы'
{% endblock %}
{% block keywords_for_page %}
    'Ключевые слова'
{% endblock %}
{% block title_for_page %}
    Меняй смело! Подтверждение
{% endblock %}

{% block warning %}
    Курс обмена заморожен на {{ type_freeze }} минут. <br>
    Если заявка не будет оплачена, она автоматически отменится.
{% endblock %}

{% block content %}
    <div class="outram">
        <div class="color-confirm">Подтверждение</div>
        <div class="cnf-block">
            <div class="cnf-left wd">
                <div class="orderID">
                    ID заявки: {{ num }}
                </div>
                <div class="orderDate" id="cnf-date" title="Используется время UTC">
                    Время оформления: {{ date_create }}
                </div>
                <div class="orderStatus" id="cnf-status">
                    Статус: {{ status }}
                </div>
            </div>
            <div class="cnf-right wd">
                <div class="psFrom" id="cnf-from">
                    Отдаёте: {{ left }}
                </div>
                <div class="psSum">
                    Сумма: {{ sum_from }}
                </div>
                <div class="psAccount nodisplay" id="wallet_client_from">
                    С кошелька: {{ wallet_client_from }}
                </div>
                <div class="psTo" id="cnf-to">
                    Получаете: {{ right }}
                </div>
                <div class="psSum">
                    Сумма: {{ sum_to }}
                </div>
                <div class="psAccount">
                    На кошелёк: {{ wallet_client_to }}
                </div>
            </div>
        </div>

        <div class="wallet-manual">
            {{ text }}
        </div>

        <div class="cnsl" id="cnf-cancel">
            До отмены заявки осталось:
        </div>
        <div class="sol">
            <form action="./" class="solbtn" method="post">
                {% csrf_token %}
                <input type="submit" value="Отменить" name="checkinput" class="sbtn no" id="nobtn">
                <input type="submit" value="Оплатить" name="checkinput" class="sbtn ok" id="okbtn">
            </form>
        </div>
    </div>

    <script src="{% static 'js/confirm.js' %}"></script>
{% endblock %}

