{% extends 'base.html' %}

{% block header %}
    <a class="nav-link" href="/">Главная</a>
    <a class="nav-link" href="/rules/">Правила</a>
    {#    <a class="nav-link" href="/faq/">Вопросы</a>#}
    <a class="nav-link active" href="/contacts/">Контакты</a>
    <a class="nav-link" href="/lk/">Вход</a>
{% endblock %}

{% block warning %}
    <h2>Контакты</h2>
{% endblock %}

{% block content %}
    <div class="second">

        <div class="text-page">
            <ul>
                <li>Время работы технической поддержки: 11:00 - 22:00 (МСК)</li>
                <li>Почта:
                    <a href="mailto:info@bitlab.work">{{ mail }}</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}