{% extends 'base.html' %}
{% load static %}

{% block description_for_page %}
    'Описание для страницы'
{% endblock %}
{% block keywords_for_page %}
    'Ключевые слова'
{% endblock %}
{% block title_for_page %}
    Меняй смело! Контакты
{% endblock %}

{% block warning %}
    <h2>Контакты</h2>
{% endblock %}

{% block content %}
    <div class="second">

        <div class="text-page">
            <ul>
                <li>Время работы технической поддержки: {{ time }}</li>
                <li>Почта:
                    <a href="mailto:{{ mail }}">{{ mail }}</a>
                </li>
            </ul>
        </div>
    </div>
    <script src="{% static 'js/contact.js' %}"></script>
{% endblock %}