{% extends 'base.html' %}

{% block header %}
    <a class="nav-link" href="/">Главная</a>
    <a class="nav-link" href="/rules/">Правила</a>
    <a class="nav-link" href="/faq/">Вопросы</a>
    <a class="nav-link active" href="/contacts/">Контакты</a>
    <a class="nav-link" href="/lk/">Вход</a>
{% endblock %}

{% block warning %}
    <h2>Контакты</h2>
{% endblock %}

{% block content %}
    <div class="second">

        <div class="text-page">
            <ul>
                <li>Время работы технической поддержки: 11:00 - 22:00 (МСК)</li>
                <li>Почта:
                    <a href="mailto:info@ponybit.ru">info@ponybit.ru</a>
                </li>
                <li><span>Если что-то пошло не так:</span>
                    <ol>
                        <li>Большинство обменов проходит в авторежиме, т.е. моментально, но если перевод вам так и не
                            поступил, то необходимо написать в тех. поддержку. Для ускорения ответа рекомендуем сразу
                            начинать с номера заявки и потом уже с описания проблемы.
                        </li>
                        <li>Время работы тех. поддержки указано выше. В остальные периоды ответа не будет.</li>
                        <li>После формирования заявки у вас на почте будет письмо с номером заявки и ссылкой на проверку её
                            статуса, там же находится ссылка на проверку статуса перевода криптовалюты. Также, для
                            зарегистрированных пользователей, все свои заявки можно увидеть в личном кабинете.
                        </li>
                        <li>Если вы отправляете нам криптовалюту, то заявка будет завершена только после получения 1
                            подтверждения. На это выделяется срок 2 часа. Если за этот период подтверждения нет,(такое
                            бывает если сеть загружена или вы указали слишком низкую комиссию) то обработка заявки переходит
                            в ручной режим и ожидает внимания со стороны тех.поддержки. Время работы технической поддержки
                            указано выше.
                        </li>
                        <li>В крайнем случае криптовалюта может идти несколько дней. Такое случается если вы указали очень
                            низкую комиссию.
                        </li>
                        <li>Если мы вам переводим криптовалюту, то смотрите статус заявки. Если она выполнена, значит мы всё
                            отправили и время когда она придёт к вам, от нас уже не зависит. Просто ждите.
                        </li>
                        <li>Если вы отправляете нам Qiwi и при этом игнорируете нашу форму отправки т.е. отправляете с
                            мобильного через собственную форму или с другого телефона, то высока вероятность попадания
                            данной заявки в ручной режим обработки. Чтобы ускорить этот процесс, рекомендуем оставлять тот
                            комментарий, который указан в нашей форме.
                        </li>
                        <li>Ввод/вывод с Webmoney возможен только на привязанные кошельки. Других вариантов нет. Проверить
                            привязку можно тут:
                            <a href="https://verification.webmoney.ru/XTest/X19.aspx" target="_blank">Проверить возможность
                                отправки WebMoney</a>
                        </li>
                        <li>Если у вас есть какое либо индивидуальное желание или предложение то добро пожаловать в
                            тех.поддержку. Там можно решить все вопросы и обговорить различные нюансы.
                        </li>
                    </ol>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}