{% extends 'base.html' %}
{% load static %}

{% block description_for_page %}
    'Описание для страницы'
{% endblock %}
{% block keywords_for_page %}
    'Ключевые слова'
{% endblock %}
{% block title_for_page %}
    Ошибка
{% endblock %}

{% block warning %}
    Безопасный обмен <br>
    Обменник полностью автоматический, работает круглосуточно. Информацию о заявке отправляется на указанную
    электронную почту. Сообщать оператору об оплате не нужно. Если считаете, что заявка зависла ,попробуйте
    просто обновить страницу - нажмите F5
{% endblock %}

{% block content %}

{{ error }}
{% endblock %}