{% extends 'base.html' %}
{% load static %}

{% block description_for_page %}
    'Описание для страницы'
{% endblock %}
{% block keywords_for_page %}
    'Ключевые слова'
{% endblock %}
{% block title_for_page %}
    Меняй смело! Вопросы
{% endblock %}

{% block warning %}
    FAQ
{% endblock %}

{% block content %}
    <div class="second">
        <div class="text-page">
            <ul>
                <li>
                    <span>Я тоже хочу свой обменник. Что делать?</span>
                    <br>
                    <p>Обмен валют в интернете это достаточно выгодное дело. Тут действительно можно работать из дома
                        или уехать на пляжи в Тайланд и при этом зарабатывать вполне приличные деньги. Но есть один
                        небольшой нюанс - полное отсутствие информации о том, как запустить этот бизнес, что для этого
                        требуется, какие вложения, программы, сервисы, риски. На все эти вопросы можно получить ответ у
                        нашей команды, стаж работы в обменном бизнесе у которой уже более 10 лет.</p></li>
            </ul>
            <ul>
                <li>
                    <span>Обменник работает?</span>
                    <br>
                    <p><span style="font-weight:400;">Обменник полностью автоматический и совершает перевод без оператора круглосуточно. Но если что-то пошло не так и возникла какая-либо ошибка, то решена она будет только в часы работы поддержки.&nbsp;</span><span
                            style="font-weight:400;">Часы работы поддержки не являются секретом или закрытой информацией и указаны в разделе контакты.</span>
                    </p></li>
            </ul>
            <ul>
                <li>
                    <span>Если ваш платёж приостановлен Qiwi на срок до 48 часов для дополнительной проверки:</span>
                    <br>
                    <p>1. Мы данный платёж отменить (вернуть, завершить) не можем, потому что денег у нас нет, <strong>они
                        у Qiwi<br></strong>2. Проверка часто заканчивается в течении первых суток<strong><br></strong>3.
                        Несмотря на то, что деньги с кошелька у вас списаны, с Qiwi они не отправлены и висят в
                        заморозке<br>4. В обменнике вся история заявок сохраняется и вашу заявку мы тоже помним, даже
                        если у неё истёк таймер<br>5. Когда деньги с Qiwi ушли, то необходимо написать в чат оператору
                        что платёж проведён, номер заявки и подтвердить получателя. У данной заявки можно изменить
                        конечный адрес и даже получаемую валюту<br>6. У нас используются кошельки с максимальной
                        верификацией(профессиональные), поэтому проблема блокировки с нами не связана<br>7. Возможен
                        возврат денег. Но это самый дорогой вариант. Возврат с киви на киви мы сделаем удерживая
                        комиссию в 10%<br>8. <a href="https://www.banki.ru/news/lenta/?id=10914057">Ещё можно почитать
                            об этом здесь</a> : <a href="https://www.banki.ru/news/lenta/?id=10914057">https://www.banki.ru/news/lenta/?id=10914057</a><br>9.
                        А пока остаётся только ждать</p>
                    <p>&nbsp;</p></li>
            </ul>
            <ul>
                <li>
                    <span>Статус заявки: Истекло время</span>
                    <br>
                    <p>Вы сделали оплату, но таймер в заявке закончился и у неё истёк период ожидания? Причины
                        следующие:<br>1. Если перевод был с Qiwi, то с большой вероятностью ваш платёж заблокирован на
                        срок до 48 часов для проверки службой безопасности. В итоге мы денег на счёт не получили и
                        поэтому заявка не может быть исполнена. Необходимо зайти в свой киви кошелёк, найти данный
                        перевод и посмотреть его статус. Если причина задержки в проверки платежа, то остаётся только
                        ждать и иногда его проверять. Как только платёж уйдёт нам, то необходимо написать в чат
                        оператору что платёж ушёл, назвать номер заявки и новые реквизиты получателя, если старые уже не
                        актуальны.<br>2. Если перевод с Qiwi, но причина не в проверке службой безопасности, то
                        необходимо проверить получателя. Мы производим обмен с киви кошелька, а не с баланса телефона.
                        Если был перевод на баланс телефона то вам необходимо связываться с киви и с сотовым оператором
                        и решать данный вопрос с поиском и возвратом денег самостоятельно.</p></li>
            </ul>
            <ul>
                <li>
                    <span>Кнопка "Оплатил"</span>
                    <br>
                    <p>У нас нет такой кнопки. Потому что обменник полностью автоматический и он сам увидит, что оплата
                        есть и произведёт перевод.</p></li>
            </ul>
            <ul>
                <li>
                    <span>Комиссии за биткоин; скорость прихода биткоинов; почему биткоины идут так долго; у всех быстро, а у вас медленно и т.&nbsp;д.</span>
                    <br>
                    <p>Скорость получения биткоинов напрямую зависит от загруженности сети и от устанавливаемой
                        обменником комиссии за перевод. У нас изначально выставляется та комиссия, которая на текущий
                        момент рекомендуется сетью биткоин — чаще всего её хватает. Иногда сеть более загружена и тогда
                        перевод может идти дольше — несколько часов. Также у нас существует ограничение для максимальной
                        комиссии: 0.00005 btc. Данное ограничение продиктовано следующим:</p>
                    <p>В среднем, на обмене крипты, обменник зарабатывает около 5% на круг, т. е. 2.5% в каждую сторону
                        обмена. В отличие от большинства других обменников, где стоит минимальная сумма для обмена от
                        5000р, у нас установлен минимум обмена всего 1000р. Другими словами с 1000р обменник
                        зарабатывает 1000 / 100 * 2.5 = 25р. При текущей стоимости биткоина в 430000р, комиссия за
                        перевод равная 0.0005 бтс составляет 430000 * 0.00005 = 21р. Значит из заработка 25р, мы отдадим
                        на комиссию 21р и у обменника останется всего 4 рубля с 1000р. Из этих 4 рублей мы отдадим 40%
                        мониторингу, итого останется 2 рубля и 40 копеек Много ли вы можете назвать обменников которые
                        работают с маржой 0.24% и менее? Когда биткоин станет дороже, прибыль ещё сильнее уменьшится.
                        Теперь вопрос — можно ли поставить комиссию выше, чтобы переводы шли быстрее? Легко, но тогда
                        минимум будет как у всех — 5000р.</p>
                    <p>Вывод — переводите небольшие суммы — придётся мириться. Если хотите чтобы ваша транзакция прошла
                        быстрее — обращаемся к оператору в часы его работы. Он может для вашего перевода поставить
                        индивидуальную комиссию. Индивидуальная комиссия оплачивается отдельно.&nbsp;</p></li>
            </ul>
            <ul>
                <li>
                    <span>Верификация</span>
                    <br>
                    <p>У нас отстутствуют требования проходить верификацию, отправлять фото с паспортом или совершать
                        иные действия направленные на подтверждение личности, в не зависимости от суммы перевода.</p>
                </li>
            </ul>
            <ul>
                <li>
                    <span>Заморозка средств</span>
                    <br>
                    <p>У нас отсутствует заморозка перечисленных средств в любом виде и в не зависимости от платёжных
                        систем. При первом переводе с яндекс кошелька, также нет никакой заморозки.</p></li>
            </ul>
            <ul>
                <li>
                    <span>Как долго ждать перевода на счет?</span>
                    <br>
                    <p><span
                            style="font-weight:400;">Причин задержки заявки может быть несколько. Рассмотрим их все:</span>
                    </p>
                    <ol>
                        <li style="font-weight:400;"><span style="font-weight:400;">Вы отправили нам криптовалюту - в этом случае перевод будет осуществлён только после получения одного подтверждения. Если нет подтверждения, то нет и перевода.</span>
                        </li>
                        <li style="font-weight:400;"><span style="font-weight:400;">Мы вам отправили криптовалюту - в этом случае вам необходимо просто ждать. Иногда перевод может прийти за пару минут, иногда за несколько часов или даже дней (честно сказать более суток переводы не видели)</span>
                        </li>
                        <li style="font-weight:400;"><span style="font-weight:400;">Вы отправили нам не ту сумму которая указана в заявке - у нас есть автоматический пересчёт платежа, если нам пришла иная сумма чем указана в заявке, но этот процесс касается только криптовалюты. При других платежах автоперерасчёта нет и заявка попадает в ручной режим и обработается в часы работы оператора.</span>
                        </li>
                        <li style="font-weight:400;"><span style="font-weight:400;">Вы делали перевод не через нашу платёжную форму и забыли указать комментарий - в этом случае необходимо обратиться к оператору.</span>
                        </li>
                    </ol>
                </li>
            </ul>
            <ul>
                <li>
                    <span>Я указал неверные данные для перевода. Можно ли вернуть деньги или изменить номер кошелька? Мне нужен возврат. Что делать?</span>
                    <br>
                    <p><span style="font-weight:400;">Сначала смотрим статус заявки. Если мы уже отправили перевод, то больше уже ничего сделать не сможем и все остальные проблемы вы решаете самостоятельно. Если же мы деньги ещё не отправили, то можно изменить данные кошелька получателя. </span>
                    </p></li>
            </ul>
            <ul>
                <li>
                    <span>При переводе указал неверную почту и не проходил регистрацию, деньги ко мне так и не поступили. Что делать?</span>
                    <br>
                    <p><span style="font-weight:400;">Пишем в поддержку и предоставляем максимум имеющейся информации о переводе. Перевод постараемся найти. Обратите внимание, что у заявок которые оказались “потерянными” возможен либо возврат либо перевод только по указанному в заявке адресу. Никаких изменений в таких заявках не производится.</span>
                    </p></li>
            </ul>
            <ul>
                <li>
                    <span>Что с моей заявкой, где посмотреть её статус?</span>
                    <br>
                    <p><span style="font-weight:400;">Во время формирования заявки вы указываете свою почту. Именно на неё приходят письма от нас со ссылками на заявку, если вдруг вы закрыли браузер. Также эта информация содержится в личном кабинете, который вы получаете при регистрации у нас на сайте. Поэтому мы настоятельно рекомендуем указывать действующую почту при формировании заявки или проходить регистрацию. В противном случае, при возникновении проблем, поиск вашей заявки может занять значительное время и не факт, что он завершится положительно.</span>
                    </p></li>
            </ul>
            <ul>
                <li>
                    <span>Оплата по старым реквизитам</span>
                    <br>
                    <p>В момент формирования заявки, клиент видит на какой счёт (кошелёк, адрес) мы получаем деньги. Эти
                        данные не являюстя секретом, но для каждого перевода выдаются свои реквизиты. Если перед
                        осуществлён по реквизитам из другой заявки, то никакого поиска данных заявок не производится.
                        Решение любых проблем возможно только в пределах одной заявки и тех данных, которые указаны
                        только в этой заявке.</p></li>
            </ul>
        </div>
    </div>
<script src="{% static 'js/faq.js' %}"></script>
{% endblock %}
