{% extends 'base.html' %}

{% block header %}
    <a class="nav-link" href="/">Главная</a>
    <a class="nav-link" href="/rules/">Правила</a>
{#    <a class="nav-link" href="/faq/">Вопросы</a>#}
    <a class="nav-link" href="/contacts/">Контакты</a>
    <a class="nav-link active" href="/lk/">Вход</a>
{% endblock %}

{% block warning %}
    Регистрация позволяет получить партнёрскую ссылку и видеть свою статистику обменов. Регистрация не объязательна.
{% endblock %}

{% block content %}
    вход в лк
{% endblock %}