{% extends 'base.html' %}
{% load static %}

{% block description_for_page %}
    'Описание для страницы'
{% endblock %}
{% block keywords_for_page %}
    'Ключевые слова'
{% endblock %}
{% block title_for_page %}
    Меняй смело! Личный кабинет
{% endblock %}

{% block warning %}
    Регистрация позволяет получить партнёрскую ссылку и видеть свою статистику обменов. Регистрация не объязательна.
{% endblock %}

{% block content %}
    вход в лк
<script src="{% static 'js/lk.js' %}"></script>
{% endblock %}