{% extends 'base.html' %}

{% block header %}
    <a class="nav-link" href="/">Главная</a>
    <a class="nav-link active" href="/rules/">Правила</a>
    <a class="nav-link" href="/faq/">Вопросы</a>
    <a class="nav-link" href="/contacts/">Контакты</a>
    <a class="nav-link" href="/lk/">Вход</a>
{% endblock %}

{% block warning %}
    <h1>Соглашения о предоставлении услуг сервисом {{ request.get_host }}</h1>
{% endblock %}

{% block content %}
    <div class="second">
        <h2>Соглашения о предоставлении услуг сервисом ponybit.ru</h2>
        <div class="text-page">
            правила не являюстя офертой. В случае технического сбоя или иной проблемы, из-за которой был установлен нерыночный курс, обменник имеет право вернуть клиенту переведённый им средства с возмещением среднерыночной комиссии за перевод. Моральный вред, упущенная выгода или любые иные прямые и косвенные потери возмещению не подлежат.
            1.1. Настоящее соглашение (далее — Соглашение) описывает правила и условия, на основании которых интернет сайт
            https://ponybit.ru предоставляет услуги мультивалютного обменного сервиса и, в соответствии со
            статьей 437 Гражданского Кодекса РФ, является официальной письменной публичной офертой, адресованной физическим
            лицам (далее — Пользователь), заключить Соглашение о предоставлении услуг сервисом <b>ponybit.ru</b> на
            изложенных ниже
            условиях.<br>
            1.2. Перед тем как воспользоваться услугами сервиса <b>ponybit.ru</b>, Пользователь обязан ознакомиться в полном
            объеме
            с условиями "Соглашения о предоставлении услуг сервисом <b>ponybit.ru</b>"<br>
            1.3. Использование услуг сервиса <b>ponybit.ru</b> возможно только, если Пользователь принимает все условия
            Соглашения.<br>
            1.4. Действующая версия Соглашения расположена для публичного доступа на интернет-сайте сервиса
            <b>ponybit.ru</b> (
            https://ponybit.ru).<br>
            1.5. Пользователь подтверждает, что он ознакомлен со всеми положениями настоящего Соглашения и безусловно
            принимает их.<br><br>

            <h3>2. Термины и определения, используемые в Соглашении</h3><br>

            Сервис <b>ponybit.ru</b> — торговая марка и коммерческое обозначение системы предоставления интернет услуг по
            обмену,
            продаже и покупке электронных валют, оказываемых Обществом.<br>
            Интернет-сайт Сервиса – https://<b>ponybit.ru</b><br>
            Пользователь — любое физическое лицо, которое желает воспользоваться услугами сервиса <b>ponybit.ru</b> и
            осуществившее
            акцепт Соглашения в соответствии с его условиями.<br>
            Платежная система — программный продукт, созданный третьей стороной, представляющий собой механизм реализации
            учета денежных и/или иных обязательств, оплату товаров и услуг в сети Интернет, а также организацию
            взаиморасчетов между своими пользователями.<br>
            Электронная валюта – денежное и/или иное обязательство между разработчиком данной валюты и ее пользователем,
            выраженное цифровым способом.<br>
            Платеж/операция — перевод электронной и/или иной валюты от плательщика к получателю.<br>
            Клиент платежной системы – лицо, заключившее соглашение с соответствующей платежной системой на приобретение
            имущественных прав требования к ней, измеряемых в условных единицах, принятых в соответствующей платежной
            системе.<br>
            Заявка – выражение намерения Пользователя воспользоваться одной из услуг предлагаемых Сервисом
            <b>ponybit.ru</b>, путем
            заполнения электронной формы через Интернет-сайт Сервиса, на условиях, описанных в Соглашении и указанных в
            параметрах этой Заявки.<br>
            Исходная валюта – электронная валюта, которую Пользователь желает продать или обменять.<br>
            Исходный счет – номер кошелька или любое другое обозначения счета Пользователя в Платежной системе, с которого
            была отправлена Исходная валюта.<br>
            Результирующая валюта – электронная валюта, которую Пользователь получает в результате продажи или обмена
            Исходной валюты.<br>
            Результирующий счет – номер кошелька или любое другое обозначения счета Пользователя в Платежной системе, на
            который будет отправлена Результирующая валюта.<br>
            Резерв валюты — имеющийся в распоряжении Сервиса <b>ponybit.ru</b>, на момент создания Заявки, объем
            определенной
            Электронной валюты.<br>
            Обмен валюты — обмен электронной валюте одной платежной системы на электронную валюту другой платежной системы.
            Курс — стоимостное соотношение двух электронных валют при их обмене.<br>
            Способ обмена «Моментальный» — способ обмена Электронной валюты, при котором Сервис <b>ponybit.ru</b> обязуется
            незамедлительно после получения от Пользователя суммы Исходной валюты перечислить (передать) Пользователю сумму
            Результирующей валюты.<br><br>

            <h3>3. Предмет Соглашения</h3><br>

            3.1. Предметом настоящего Соглашения является предоставление Пользователю Сервисом <b>ponybit.ru</b> следующих
            услуг:<br>
            3.1.1. обмен электронной валюты (раздел 6 Соглашения);<br>
            3.1.2. продажа Пользователю электронной валюты (раздел 7 Соглашения);<br>
            3.1.3. покупка у Пользователя электронной валюты (раздел 8 Соглашения).<br>
            3.2. Сервис предлагает свои услуги всем Пользователям и не проверяет правомочность и законность владения
            Пользователем электронными валютами и/или финансовыми средствами, и не осуществляет надзора за операциями
            Пользователя в любой из Платежных систем.<br>
            3.3. Данное соглашение не отменяет действующего законодательства стран регистрации и местонахождения Сервиса и
            Пользователя, а также договорных отношений между Пользователем и Платежной системой (системами).<br>
            3.4. Платежные системы несут исключительную ответственность за средства, вверенные им Пользователем. Сервис не
            может являться стороной в соглашении между Платежной системой и Пользователем и ни в какой мере не несет
            ответственности за неправильное или неправомочное использование возможностей Платежной системы Пользователем, а
            также за злоупотребление Пользователем функциональностью Платежной системы. Взаимные права и обязанности
            Пользователя и Платежной системы регулируются соответствующими договорами.<br>
            3.5. Любая завершенная операция по вводу и выводу электронной валюты, а также иная операция, предлагаемая
            Сервисом Пользователю считается совершенной и не может быть отменена Пользователем после ее завершения по ранее
            акцептованным условиям сделки.<br>
            3.6. Сервис вправе приостановить или отменить выполняющуюся операцию по собственному усмотрению, в том числе в
            случае
            получения информации от уполномоченных органов о неправомочности владения Пользователем электронными валютами
            или финансовыми средствами и/или иная информация, делающая невозможным предоставление Сервисом услуг
            Пользователю.<br>
            3.7. Сервис вправе приостановить или отменить выполняющуюся операцию, если Пользователь нарушает условия данного
            Соглашения. Сервис вернет всю сумму за исключением комиссии Платежной системы или финансовой организации, а
            также комиссии Сервиса в размере 10%.<br>
            3.8. Согласно Окончательному правилу Сети по расследованию финансовых преступлений (FinCEN) в соответствии со
            статьей 31 Свода Федеральных Правил 1010.100(ff), которое обязует каждую иностранную фирму, оказывающую
            расчетно-кассовые услуги, назначить представителя сервиса, проживающего на территории США, в качестве агента для
            выполнения судебного процесса в соответствии с соблюдением требований ассоциации БСА и его подзаконных актов,
            Общество не предоставляет услуги обмена электронных валют гражданам и жителям США и пользователям, проживающим в
            США — http://www.fincen.gov/statutes_regs/guidance/html/FIN-2012-A001.html<br>
            3.9. Услуги, предоставляемые Обществом, могут быть законодательно не разрешены в некоторых юрисдикциях. Принимая
            условия использования услуг Сервиса <b>ponybit.ru</b>, вы подтверждаете, что не являетесь резидентом такой
            юрисдикции,
            включая, но, не ограничиваясь Федеративной Республикой Германии и Соединенными Штатами Америки.<br>
            3.10. Акцептом настоящего Соглашения я подтверждаю, что в соответствии с Федеральным законом от 27.07.2006 №
            152-ФЗ «О персональных данных» (далее – Закон), а также в целях заключения и исполнения указанного Соглашения, я
            даю свое согласие Обществу (в т.ч. его работникам в соответствии с их должностными обязанностями), а также
            аудиторам и иным третьим лицам, привлекаемым Обществом в целях исполнения Соглашения и реализации Обществом
            своих прав и обязанностей по Соглашению, на осуществление со всеми персональными данными, предоставленными мною
            Обществу, в том числе моим фотографическим изображением, полученным Обществом с моего согласия (далее –
            персональные данные), следующих действий: сбор, систематизацию, накопление, хранение, уточнение (обновление,
            изменение), использование, передача, распространение (в том числе передача третьим лицам, указанным выше),
            обезличивание, блокирование, уничтожение (далее – обработка). Обработка персональных данных осуществляется
            Обществом на бумажных и электронных носителях с использованием и без использования средств автоматизации.
            Обработка персональных данных производится в целях исполнения Сторонами обязательств по Соглашению, регистрации
            Пользователя на Сайте, обеспечения Пользователя технической поддержкой, оформления Заявок, оказания Услуг,
            рассмотрения обращений и претензий, направления на адрес электронной почты Пользователя сообщений
            информационного и иного характера. Настоящее согласие (далее – Согласие) действует с даты акцепта настоящего
            Соглашения до момента расторжения указанного Соглашения, а также последующие 5 (пять) лет. Согласие может быть
            отозвано мною путем предоставления Обществу письменного заявления. Я уведомлен о том, что в случаях и сроки,
            установленные Законом, Общество уничтожит соответствующие персональные данные, дополнительное уведомление меня
            Обществом об уничтожении персональных данных предоставляется по моему запросу. Я подтверждаю, что мне разъяснена
            информация о моих правах как субъекта персональных данных, предусмотренных Законом, а также порядок защиты
            данных прав и моих законных интересов. Контактная информация, предоставленная мной Обществу (далее – средства
            связи), может быть использована Обществом, а также третьими лицами, действующими от имени Общества, для
            сообщения мне любой информации, касающейся настоящего Соглашения, моих прав и обязанностей, в том числе
            относящейся к коммерческой тайне, а также для информирования меня о новых продуктах и услугах Общества. Я
            подтверждаю, что Общество не несет ответственность за факт разглашения мною указанной информации третьим лицам,
            в том числе имеющим доступ к средствам связи, данный риск я принимаю на себя.<br>
            3.11. Управление процессом сделки или получение информации о ходе выполнения сделки Пользователем производятся
            при помощи соответствующего пользовательского интерфейса, расположенного на Интернет-сайте Сервиса.<br>
            3.12. Сервис <b>ponybit.ru</b> осуществляет исполнение Заявок на безотзывной основе в соответствии с условиями
            работы
            соответствующих платежных систем.<br>
            3.13. Сервис <b>ponybit.ru</b> не является стороной соглашения между Платежной системой и Клиентом платежной
            системы и
            ни в коем случае не несет ответственности за действия Платежной системы и ее Клиента. Права и обязанности
            платежной системы и ее Клиента регулируются условиями предоставления услуг соответствующих Платежных систем.<br>
            3.14. Сервис <b>ponybit.ru</b> не требует удостоверения в том, что отправитель и получатель средств, участвующих
            в
            Операции, является одним и тем же юридическим или физическим лицом, Сервис Ponybit не является стороной во
            взаимоотношениях отправителя и получателя денежных средств или электронной валюты.<br>
            3.15. Сервис <b>ponybit.ru</b> не проверяет правомочность и законность владения Пользователем электронными
            валютами
            и/или денежными средствами, участвующими в конкретной Операции.<br>
            3.16. Воспользовавшись услугами Сервиса <b>ponybit.ru</b>, Пользователь подтверждает, что законно владеет и
            распоряжается денежными средствами и электронной валютой, участвующими в соответствующем Платеже.<br><br>

            <h3>4. Обязанности сторон</h3><br>

            4.1. Пользователь обязуется:<br>
            · исключить любое возможное пособничество незаконной торговле и любым другим незаконным операциям с
            использованием услуг Сервиса;<br>
            · исключить любое возможное пособничество проведению финансовых махинаций, не использовать Сервис в целях
            создания и распространения пирамид, а также для совершения иных действий, противоречащих законодательству и
            правовым нормам;<br>
            · исключить в своей практической деятельности с использованием Сервиса любые действия, осуществление которых
            может нанести прямой или косвенный вред борьбе с отмыванием и легализацией денежных средств, полученных
            незаконным путем;<br>
            · производить обмен, покупку и продажу электронной валюты, используя только свои личные кошельки и/или
            банковские карты и не проводить обмены где получателем средств будут третьи лица (согласно ФЗ-115).<br>
            · при возникновении спорных или неоднозначных ситуаций вести себя корректно и не допускать грубостей и
            ненормативной лексики в адрес представителей Сервиса <b>ponybit.ru</b> <br>
            4.2. Сервис обязуется предпринять все возможные и доступные действия для предотвращения попыток незаконной
            торговли, финансовых махинаций и отмывания денежных средств с использованием услуг Сервиса. Указанные действия
            включают в себя, в том числе:<br>
            · оказывать посильную помощь правоохранительным органам в розыске и поимке финансовых террористов, занимающихся
            незаконной деятельностью по отмыванию денежных средств.<br>
            · предоставление компетентным органам в соответствии с действующим законодательством информации, касающейся
            процессинга Сервиса;<br>
            · совершенствование Сервиса для предотвращения прямого или косвенного использования Сервиса в деятельности,
            противоречащей законодательству, направленному на борьбу с незаконной торговлей, финансовыми махинациями и
            отмыванием денежных средств.<br><br>

            <h3>5. Стоимость услуг</h3><br>

            5.1. Стоимость услуг Сервиса устанавливается Обществом и публикуется на интернет-сайте Сервиса.<br>
            5.2. Сервис вправе самостоятельно изменять курсы обмена электронных валют и взимаемых комиссионных в любое время
            в одностороннем порядке, о чем уведомляет Пользователей сервиса предварительным размещением информации об этих
            изменениях на интернет-сайте Сервиса.<br>
            5.3. В Заявке создаваемой Пользователем на интернет сайте сервиса указывается Курс, размер комиссии, взимаемый
            соответствующей Платежной системой, за проведение Операции, размер вознаграждения Сервиса <b>ponybit.ru</b>,
            способ
            Обмена, а также общая сумма перечисляемых денежных средств или электронной валюты.<br>
            5.4. Сервис <b>ponybit.ru</b> взимает стоимость своего вознаграждения в момент проведения соответствующей
            Операции.

            <h2>Порядок оказания услуг Сервисом</h2>

            <h3>6. Обмен электронной валюты</h3><br>

            6.1. Путем оформления Заявки Пользователь поручает, а Сервис <b>ponybit.ru</b> от своего имени и за счет
            Пользователя,
            совершает действия по обмену Электронной валюты одной Платежной системы (Исходная валюта) на Электронную валюту
            другой Платежной системы (Результирующая валюта) выбранной Пользователем.<br>
            6.2. Пользователь обязуется перечислить (передать) Исходную валюту, в размере указанном в Заявке, а Сервис
            <b>ponybit.ru</b>, после получения соответствующей Электронной валюты, обязуется перечислить (передать)
            Пользователю
            Результирующую валюту, рассчитанную по Курсу и в соответствие с тарифами сервиса.<br>
            6.3. После оформления заявки Пользователь имеет возможность изменить способ Обмена с Экономичного на
            Моментальный, оплатив стоимость данной услуги в соответствие с тарифами сервиса.<br>
            6.4. Размер вознаграждения Сервиса <b>ponybit.ru</b> за действия, указанные в пункте 6.1.-6.3. Соглашения,
            отражается в
            Заявке и подтверждается Пользователем нажатием кнопки «Далее» на одной из страниц пользовательского интерфейса
            при оформление заявки.<br>
            6.5. Обязанность Сервиса <b>ponybit.ru</b> по перечислению (передаче) Электронной валюты Пользователю считается
            исполненной в момент списания Электронной валюты в соответствующей Платежной системе со счета Сервиса
            <b>ponybit.ru</b>, что регистрируется в истории операций соответствующей Платежной системы.<br><br>

            <h3>7. Покупка Пользователем электронной валюты</h3><br>

            7.1. Путем оформления Заявки Пользователь поручает, а Сервис Ponybit от своего имени и за счет Пользователя,
            совершает действия по приобретению и передаче Электронной валюты Пользователю.<br>
            7.2. Размер вознаграждения Сервиса <b>ponybit.ru</b> за действия, указанные в пункте 7.1. Соглашения, отражается
            в
            Заявке и подтверждается Пользователем нажатием кнопки «Далее» на одной из страниц пользовательского
            интерфейса.<br>
            7.3. В течение 12 часов с момента получения денежных средств от Пользователя, в размере указанном в
            соответствующей Заявке, Сервис <b>ponybit.ru</b> обязан перечислить(передать) Результирующую валюту на реквизиты
            и в
            размере указанными Пользователем в Заявке.<br>
            7.4. Сервис <b>ponybit.ru</b> вправе отменить созданную Пользователем заявку на покупку Электронной валюты за
            наличные
            рубли, если оплата по такой заявке не поступила в расчетную кассу сервиса по истечения суток с момента создания
            такой заявки.<br>
            7.5. Сервис <b>ponybit.ru</b> вправе отменить созданную Пользователем заявку на покупку Электронной валюты за
            безналичные рубли, если оплата по такой заявке не поступила на расчетный счет сервиса по истечении 12 часов с
            момента создания такой заявки.<br>
            7.6. В целях противодействия мошенническим операциям, при расчетах в сети Интернет, банковскими картами
            международных платежных систем Visa и MasterCard Сервис <b>ponybit.ru</b> вправе лимитировать операции покупки
            электронных валют при помощи банковских карт и устанавливает следующие ограничения:<br>
            · максимальная сумма покупки электронных валют в сутки, по одной банковской карте, составляет 20000 (двадцать
            тысяч) рублей;<br>
            · максимальная сумма покупки электронных валют в месяц, по одной банковской карте, составляет 100000 (сто тысяч)
            рублей;<br>
            7.7. Обязанность Сервиса <b>ponybit.ru</b> по перечислению (передаче) Результирующей валюты Пользователю
            считается
            исполненной в момент списания Электронной валюты в соответствующей Платежной системе со счета Сервиса
            <b>ponybit.ru</b>, что регистрируется в истории операций соответствующей Платежной системы.<br><br>

            <h3>8. Продажа Пользователем электронной валюты</h3><br>

            8.1. Путем оформления Заявки Пользователь поручает, а Сервис <b>ponybit.ru</b> от своего имени и за счет
            Пользователя,
            покупает электронную валюту у Пользователя, а также совершает действия по передаче денежного эквивалента
            Пользователю в сумме, указанной в Заявке.<br>
            8.2. Размер вознаграждения Сервиса <b>ponybit.ru</b> за действия, указанные в пункте 8.1. Соглашения, отражается
            в
            Заявке и подтверждается Пользователем нажатием кнопки «Далее» на одной из страниц пользовательского
            интерфейса.<br>
            8.3. Обязанность Сервиса <b>ponybit.ru</b> по перечислению денежного рублевого эквивалента переданной
            Электронной
            валюты считается исполненной в момент списания соответствующей суммы с расчетного счета Сервиса
            <b>ponybit.ru</b>.<br>
            8.4. В случае неполучения Пользователем рублевого денежного эквивалента, по вине Пользователя в течение двух
            суток с момента оплаты заявки, Сервис Ponybit вправе возвратить Пользователю Электронную валюту на Исходный счет
            за вычетом комиссии Платежной системы и удержания комиссии в размере 10%.<br><br>

            <h3>9. Налогообложение</h3><br>

            9.1. Сервис не является налоговым агентом для Пользователя, и не уведомляет Пользователя относительно его
            налоговых издержек.<br>
            9.2. Пользователь обязуется самостоятельно исчислять и уплачивать все налоги, требуемые согласно налоговому
            законодательству места нахождения Пользователя.<br>
            9.3. В случае, если от Сервиса властями требуется уплата налогов Пользователя или покрытие задолженности,
            возникшей в результате отказа Пользователя платить налоги, Пользователь соглашается возмещать Сервису все данные
            платежи.<br><br>

            <h3>10. Вступление Соглашения в силу</h3><br>

            10.1. Настоящее Соглашение считается заключенным на условиях публичной оферты, акцептуемой Пользователем в ходе
            подачи им Заявки.<br>
            10.2. Публичной офертой признается отображаемая Сервисом <b>ponybit.ru</b> информация о параметрах и условиях
            Заявки.<br>
            10.3. Акцептом публичной оферты признается совершение Пользователем действий по завершению формирования Заявки,
            подтверждающих его намерение воспользоваться услугами Сервиса <b>ponybit.ru</b> на условиях, описанных в
            настоящем
            Соглашениях и указанных в Заявке.<br>
            10.4. Дата и время акцепта, а также параметры условий Заявки фиксируются Сервисом <b>ponybit.ru</b>
            автоматически в
            момент завершения формирования заявки.<br>
            10.5. Соглашение вступает в силу с момента завершения формирования Заявки Пользователем. Местом заключения и
            местом исполнения Соглашения является город. Санкт Петербург, Российская Федерация.<br><br>

            <h3>11. Ответственность Сторон</h3><br>

            11.1. Сервис <b>ponybit.ru</b> несет ответственность перед Пользователем в размере, не превышающем вверенной
            Пользователем суммы денежных средств или электронной валюты.<br>
            11.2. Сервис <b>ponybit.ru</b> не отвечает за неисправности, ошибки и сбои в работе программных и/или аппаратных
            средств, обеспечивающих функционирование услуг Сервиса <b>ponybit.ru</b>, возникшие по причинам, не зависящим от
            Сервиса <b>ponybit.ru</b>, а также связанные с этим убытки Пользователя.<br>
            11.3. Сервис <b>ponybit.ru</b> оказывает услуги только по обмену, покупке и продаже электронных валют.<br>
            11.4. Сервис <b>ponybit.ru</b> не вступает ни в какие партнерские отношения, не заключает ни каких договоров с
            получателями платежей за свои товары или услуги. Сервис <b>ponybit.ru</b> не является промежуточным сервисом для
            взаиморасчетов между покупателем и продавцом (заказчиком и исполнителем и т.д.).<br>
            11.5. Сервис <b>ponybit.ru</b> не отвечает за убытки Пользователя, возникшие в результате неправомерных действий
            третьих лиц.<br>
            11.6. Пользователь несет всю ответственность за достоверность сведений, указанных им при заполнении Заявки. В
            случае если Пользователь не указал или неверно указал персональные данные, Сервис <b>ponybit.ru</b> не отвечает
            за
            прямые и/или косвенные убытки Пользователя, понесенные в результате допущенной ошибки.<br>
            11.7. Стороны освобождаются от ответственности за полное или частичное неисполнение своих обязательств по
            Соглашению, если таковое явилось следствием обстоятельств непреодолимой силы, включая стихийные бедствия, пожар,
            наводнение, террористические акты, смены власти, гражданские волнения, а также нефункционирования Платежных
            систем, систем энергоснабжения, сетей связи и поставщиков Интернет-услуг, возникших после вступления в силу
            Соглашения, в результате событий чрезвычайного характера, которые не могли быть предвидены и предотвращены
            разумными мерами.<br>
            11.8. Все споры и разногласия, возникшие или могущие возникнуть из настоящего Соглашения, подлежат разрешению
            путем переговоров на основании письменного заявления Пользователя. Сервис <b>ponybit.ru</b> после получения от
            Пользователя претензии обязан в течение 15 (пятнадцати) дней удовлетворить заявленные в претензии требования
            либо направить Пользователю мотивированный отказ. К ответу должны быть приложены все необходимые документы. В
            случае если возникший спор не будет разрешен в претензионном порядке в течение 60 (шестидесяти) дней, любая из
            Сторон вправе обратиться за разрешением спора в суд по месту нахождения Общества.<br>
            11.9. В других случаях неисполнения или ненадлежащего исполнения своих обязательств по Соглашению Стороны несут
            ответственность в соответствии с законодательством Российской Федерации с учетом условий Соглашения.<br><br>

            <h3>12. Отказ от обязательств</h3><br>

            12.1. Общество имеет право отказа на заключение и выполнение заявки без объяснения причин.<br><br>

            <h3>13. Прочие положения</h3><br>

            13.1. Сервис <b>ponybit.ru</b> вправе в одностороннем порядке вносить изменения в Соглашения путем публикации
            изменений
            на Интернет-сайте Сервиса. Изменения вступают в силу с момента опубликования, если иной срок вступления
            изменений в силу не определен дополнительно при их публикации.<br>
            13.2. Сервис <b>ponybit.ru</b> вправе в случае подозрительных действий в процессе оформления заявки
            Пользователем,
            вправе приостанавливать выполнения таких операций до выяснения причин этих действий.<br>
            13.3. Сервис вправе приостановить выполнение Операций, которые могут нанести финансовые убытки и репутационные
            риски.<br>
            13.4. Сервис <b>ponybit.ru</b> вправе отказать в выполнение операции обмена, покупки и продажи электронных
            валют, если
            передача Исходной валюты на счет сервиса была произведена без оформления заявки при помощи пользовательских
            интерфейсов на сайте сервиса. Электронная валюта, перечисленная на соответствующие счета сервиса, без оформления
            заявки при помощи
            пользовательских интерфейсов на сайте сервиса может быть возвращена пользователю по запросу с учетом вычета
            комиссии Платежной системы и комиссии 10%.<br>
            13.5. Сервис <b>ponybit.ru</b> вправе отменить созданную Пользователем заявку, если в течение 15 минут не
            получил
            Исходную валюту в сумме указанной Пользователем в заявке.<br>
            13.6. Сервис <b>ponybit.ru</b> вправе отправлять Пользователю на указанный e-mail информацию о состояние
            процесса
            обмена.<br><br>

            <h3>14. Уведомление о рисках.</h3><br>

            14.1. Предлагаемые товары и услуги предоставляются не по заказу лица либо предприятия, эксплуатирующего систему
            WebMoney Transfer. Мы являемся независимым предприятием, оказывающим услуги, и самостоятельно принимаем решения
            о ценах и предложениях. Предприятия, эксплуатирующие систему WebMoney Transfer, не получают комиссионных
            вознаграждений или иных вознаграждений за участие в предоставлении услуг и не несут никакой ответственности за
            нашу деятельность.<br>
            14.2. Аттестация, произведенная со стороны WebMoney Transfer, лишь подтверждает наши реквизиты для связи и
            удостоверяет личность. Она осуществляется по нашему желанию и не означает, что мы каким-либо образом связаны с
            продажами операторов системы WebMoney.
        </div>
    </div>

{% endblock %}