{% extends 'base.html' %}
{% load static %}

{% block description_for_page %}
    'Описание для страницы'
{% endblock %}
{% block keywords_for_page %}
    'Ключевые слова'
{% endblock %}
{% block title_for_page %}
    Меняй смело! Правила
{% endblock %}

{% block warning %}
    <h1>Соглашение о предоставлении услуг сервисом {{ host_name }}</h1>
{% endblock %}

{% block content %}
    <div class="second">
        <div class="text-page">
            <ol>
                <li>Правила не являюстя офертой. В случае технического сбоя или иной проблемы, из-за которой был
                    установлен
                    нерыночный курс, сервис имеет право вернуть клиенту переведённые ему средства с возмещением
                    среднерыночной
                    комиссии за перевод. Моральный вред, упущенная выгода или любые иные прямые и косвенные потери
                    возмещению не подлежат.
                </li>
                <br>
                <li>Сервис предлагает свои услуги всем пользователям и не проверяет правомочность и законность владения
                    пользователем электронными валютами и/или финансовыми средствами, и не осуществляет надзора за
                    операциями пользователя в любой из платежных систем
                </li>
                <br>
                <li>Платежные системы несут исключительную ответственность за средства, вверенные им пользователем.
                    сервис
                    не может являться стороной в соглашении между платежной системой и пользователем и ни в какой мере
                    не несет
                    ответственности за неправильное или неправомочное использование возможностей платежной системы
                    Пользователем, а также за злоупотребление пользователем функциональностью платежной системы.
                    Взаимные права и обязанности пользователя и платежной системы регулируются соответствующими
                    договорами.
                </li>
                <br>
                <li>Сервис вправе приостановить или отменить выполняющуюся операцию по собственному усмотрению, в том
                    числе
                    в случае получения информации от уполномоченных органов о неправомочности владения пользователем
                    электронными
                    валютами или финансовыми средствами и/или иная информация, делающая невозможным предоставление
                    сервисом услуг пользователю
                </li>
                <br>
                <li>Сервис осуществляет исполнение заявок на безотзывной основе в соответствии с
                    условиями работы соответствующих платежных систем.
                </li>
                <br>
                <li>Сервис не является стороной соглашения между платежной системой и клиентом платежной
                    системы и ни в коем случае не несет ответственности за действия платежной системы и ее Клиента.
                    права и обязанности
                    платежной системы и ее клиента регулируются условиями предоставления услуг соответствующих платежных
                    систем.
                </li>
                <br>
                <li>Путем оформления заявки пользователь поручает, а сервис от своего имени и за счет пользователя,
                    совершает действия по обмену лектронной валюты одной платежной системы (исходная валюта) на
                    электронную валюту другой платежной системы (результирующая валюта) выбранной пользователем.
                </li>
                <br>
                <li>Обязанность сервиса по перечислению электронной валюты пользователю
                    считается исполненной в момент списания Электронной валюты в соответствующей платежной системе со
                    счета сервиса, что регистрируется в истории операций соответствующей платежной системы.
                </li>
                <br>
                <li>Сервис не является налоговым агентом для пользователя, и не уведомляет пользователя относительно его
                    налоговых издержек.
                </li>
                <br>
                <li>Сервис несет ответственность перед пользователем в размере, не превышающем
                    вверенной Ппользователем суммы денежных средств или электронной валюты.
                </li>
                <br>
                <li>Сервис, в случае подозрительных действий в процессе оформления заявки пользователем,
                    вправе приостанавливать выполнения таких операций до выяснения причин этих действий.
                </li>
                <br>
                <li>Сервис вправе приостановить выполнение операций, которые могут нанести финансовые убытки и
                    репутационные риски.
                </li>

            </ol>

        </div>
    </div>
    <script src="{% static 'js/rules.js' %}"></script>
{% endblock %}